h1 {
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
}

h2 {
    font-family: "Segoe UI", sans-serif;
    font-weight: semibold;
}

p {
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
}

a {
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
}

div {
    margin-top: 300px;
    margin-bottom: 300px;
    margin-right: 350px;
    margin-left: 180px;
    background-color: lightblue;
}

summary {
        font-family: "Segoe UI", sans-serif;
        font-weight: normal;
}
