body {
  margin: 0;
  font-family: Bahnschrift, sans-serif;
}
.container {
  background-color: #f0f0f0; 
  display: flex;
  flex-direction: column;
  margin 0 50px;
}
.header {
  background-color: #000; /* Màu nền của khung đen */
  color: #fff; /* Màu chữ của tiêu đề */
  padding: 20px;
  text-align: center;
  cursor: pointer; /* Chuyển đổi con trỏ khi di chuột vào tiêu đề */
}
.header h1 {
  margin: 0;
}

form {
    display: inline-block;
}

input[type="text"] {
    padding: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

footer {
  text-align: center;
  background-color: #fff;
  color: #000;
}

