h1 {
    font-family: "Bahnschrift", sans-serif;
    font-weight: bold;
}

h2 {
    font-family: "Bahnschrift", sans-serif;
    font-weight: semibold;
}

p {
    font-family: "Bahnschrift", sans-serif;
    font-weight: normal;
}

a {
    font-family: "Bahnschrift", sans-serif;
    font-weight: normal;
}
