h1 {
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
}

h2 {
    font-family: "Segoe UI", sans-serif;
    font-weight: semibold;
}

p {
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
}

a {
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
}

div {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 350px;
    margin-left: 350px;
    padding: 0 0 0 20px;
}

summary {
        font-family: "Segoe UI", sans-serif;
        font-weight: normal;
}
